{% extends "base.html" %}
{% load static %}
{% block title %}Chat{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style_chat.css' %}">
{% endblock %}
{% block content %}
<div class="chat-container-wrapper">
    <div class="chat-container">
        <div id="message_box" class="chat-messages">
            <div id="messages">
                <div class="message received">
                    <p>Hello, What can I do for you?</p>
                    <ul id="menu">
                        <li><a href="#" data-action="get_account_info">Show information account</a></li>
                        <li><a href="#" data-action="make_transaction">Make a transaction</a></li>
                        <li><a href="#" data-action="show_transactions_list">Show transaction history</a></li>
                    </ul>
                    <!-- Ejemplo para el caso 'get_account_info' -->
                    <input type="text" id="gai_account_id_input" class="hidden" placeholder="Enter account ID">
                    <button type="button" id="get_account_info_button" class="hidden">Send</button>
                    <!-- Ejemplo para el caso 'make_transaction' -->
                    <input type="text" id="mt_account_id_input" class="hidden" placeholder="Enter account ID">
                    <input type="text" id="mt_amount_input" class="hidden" placeholder="Enter amount">
                    <input type="text" id="mt_destination_account_id_input" class="hidden" placeholder="Enter destination account ID">
                    <button type="button" id="make_transaction_button" class="hidden">Send</button>

                    <!-- Ejemplo para el caso 'show_transactions_list' -->
                    <input type="text" id="stl_account_id_input" class="hidden" placeholder="Enter account ID">
                    <button type="button" id="show_transactions_list_button" class="hidden">Send</button>
                </div>
                <!-- Ejemplo para la acción 'get_account_info' -->
                <div id="result-container"></div>
                <!-- Mensaje enviado de usuario -->
                <div class="message sent" id="message-sent">
                    <p>Hi, I want to know my account information</p>
                </div>
            </div>
        <form id="chat-form">
            <div class="user-input">
                <input type="text" id="message" placeholder="Write your message here...">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="{% static 'scripts/chatEngine.js' %}"></script>
{% endblock %}
