Django==3.2.12
python-decouple==3.4
channels==3.0.4
channels-redis==3.3.1
requests==2.31.0
websockets==11.0.3
redis==4.5.5
celery==5.3.1
twisted>=23.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability